<%= form_for(@fan) do |f| %>
  <div class="errors">
    <%= render 'errors' %>
  </div>

  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :name %>
        <%= f.text_field :name, size: 40, autofocus: true, placeholder: "Sally Fan" %>
      </li>
      <li class="required">
        <%= f.label :email %>
        <%= f.email_field :email, size: 40, placeholder: "youremail@email.com" %>
      </li>
      <li class="required">
        <%= f.label :city %>
        <%= f.text_field :city, size: 20, placeholder: "New York" %>
      </li>
      <li class="required">
        <%= f.label :state %>
        <%= f.select :state, Fan::STATES, prompt: "pick one" %>
      </li>
      <li class="required">
        <%= f.label :country %>
        <%= f.text_field :country, size: 10, placeholder: "(optional)" %>
      </li>
      <li class="required">
        <%= f.label :message %>
        <%= f.text_area :message, size: 150, placeholder: "Message the band! (150 chars)"%>
      </li>
    </ol>
    <p>
      <%= f.submit %>
    </p>
  </fieldset>
<% end %>
