<% @fans.each do |fan| %>
  <li>
    <strong><%= fan.name %></strong> from <strong><%= fan.city %>, <%= fan.state %>, <%= fan.country %></strong> says <i>&quot;<%= fan.message %>&quot;</i>
  </li>
<% end %>
